<div ng-repeat="user in users.data">

    <div ng-repeat="post in user.posts.data">

    <h2> {{ post.title }}<small class="pull-right">
        <i class="fa fa-user"></i> <i class="fa fa-flash"></i> por {{user.name}}
        </small>
    </h2>

    <p>{{post.text}}</p>

    <p ng-repeat="image in post.images.data">
        Images : {{ image.name }}
    </p>

    <p ng-repeat="comment in post.comments.data">
        Comentários : {{ comment.text}}
    </p>

    <br/><a href="#api/posts/show/{{post.id}}">Mais</a>
    <p class="text-right">

    <p>
    Tags :
    <span ng-repeat="tag in post.tags.data"
         class="badge tag">{{ tag.title }} </span>
    </p>

    </p>
    <hr/>
    </div>
</div>