    <div class="b-breadcrumbs f-breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li><i class="fa fa-angle-right"></i><a href="#">Faqs</a></li>
                <li><i class="fa fa-angle-right"></i><span>FAQs</span></li>
            </ul>
        </div>
    </div>
    <section class="b-infoblock--small">
        <div class="container">
            <div class="row b-col-default-indent" ng-controller="faqController">
                <div class="col-md-9">
                    <p class="f-primary-b f-uppercase f-title-small c-primary">Perguntas frequentes</p>

                  <div>

                      <script type="text/ng-template" id="group-template.html">
                          <div class="panel {{panelClass || 'panel-default'}}">
                              <div class="panel-heading">
                                  <h4 class="panel-title" style="color:#fa39c3">
                                      <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
                                              ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
                                  </h4>
                              </div>
                              <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                  <div class="panel-body" style="text-align: right" ng-transclude></div>
                              </div>
                          </div>
                      </script>

                      <div class="checkbox">
                          <label>
                              <input type="checkbox" ng-model="oneAtATime">
                              Abra somente um de cada vez
                          </label>
                      </div>

                      <!--<div  ng-repeat="faq in faqs.data">-->
                      <uib-accordion close-others="oneAtATime">
                          <div ng-repeat="faqCategoria in categoria_faqs.data">
                          <uib-accordion-group heading="{{faq.title}}" ng-repeat="faq in faqCategoria.faqs.data">
                              <h5>{{faq.description}}</h5>
                          </uib-accordion-group>
                          </div>
                      </uib-accordion>
                      <!--</div>-->
                  </div>

                </div>
                <aside class="col-md-3">
                    <div>
                        <h4 class="f-primary-b b-h4-special f-h4-special c-primary"> <i class="fa fa-search fa-2x"></i> Pesquisar</h4>

                        <div class="b-form-row b-input-search">
                            <input class="form-control" type="text" placeholder="colocar palavras chaves"/>
                            <span class="b-btn b-btn-search f-btn-search fa fa-search"></span>
                        </div>
                    </div>
                    <div class="b-categories-filter b-default-top-indent">
                        <h4 class="f-primary-b b-h4-special f-h4-special c-primary">Perguntas frequentes</h4>
                        <ul>
                            <li ng-repeat="categoria in categoria_faqs.data">
                                <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> {{ categoria.title }}</a>
                                <span class="b-categories-filter_count f-categories-filter_count">12</span>
                            </li>
                        </ul>
                    </div>
                </aside>
                <aside class="col-md-3">
                <div class="b-default-top-indent">
                    <h4 class="f-primary-b b-h4-special f-h4-special c-primary">Envie sua dúvida.</h4>

                    <div class="b-form-row">
                        <input type="text" class="form-control" placeholder="seu email"/>
                    </div>
                    <div class="b-form-row">
                        <input type="text" class="form-control" placeholder="assunto"/>
                    </div>
                    <div class="b-form-row">
                        <textarea class="form-control" placeholder="sua questão" rows="5"></textarea>
                    </div>
                    <div class="b-form-row">
                        <a href="#" class="b-btn f-btn b-btn-md b-btn-default f-primary-b b-btn__w100">enviar
                            questão</a>
                    </div>
                </div>
                </aside>
            </div>
        </div>
    </section>